body{
    background-color: burlywood;
}
.container{
    /* border: 1px solid black; */
    width: 95%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.counter{
    border: 2px solid black;
    padding: 25px;
    border-radius: 5px;
    background: #feffea;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 600px;
    height: 350px;
    align-items: center;
}
.counter h1{
    font-size: 2rem;

}
#count{
    font-size: 9rem;
}